/*----------------------------------------------------------------------
 Button - Yay, buttons!
----------------------------------------------------------------------*/
.btn {
    display: inline-block;
    min-width: 100px;
    padding: 8px 10px;
    border: 1px solid #256eb5;
    border-radius: 3px;
    background: #007acc;
    box-shadow: 1px 2px 3px #D5D5D5;
    color: $WHITE;
    font-family: $FONT_PRIMARY;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.btn:hover,
.btn:focus {
    box-shadow: 1px 2px 3px #BDBDBD;
    cursor: pointer;
    text-decoration: none;
    background: #256eb5;
    color: #fffff0;
}

.btn_noShadow,
.btn_noShadow:hover,
.btn_noShadow:focus {
    box-shadow: none;
}

.btn_secondary {
    border: 1px solid #ffffff;
    background: none;
    box-shadow: none;
}

.btn_secondary:hover,
.btn_secondary:focus {
    background: rgba(0,0,0,.1);
    box-shadow: none;
}

.btn_tertiary {
    border: 1px solid $GRAY;
    background: $GRAY_XXLIGHT;
    box-shadow: none;
    color: $BLACK;
    font-weight: 600;
}

.btn_tertiary:hover,
.btn_tertiary:focus {
    background: $GRAY_XLIGHT;
    box-shadow: none;
    color: $BLACK;
}

.btn_med {min-width: 160px;}

.btn_sm {
    min-width: 80px;
    padding: 5px 10px;
}

.btn_upper {text-transform: uppercase;} 