/*----------------------------------------------------------------------
 Drag Med
----------------------------------------------------------------------*/
.drag {
	display: table;
	width: 100%;
}

.drag-col {
	display: table-cell;
	width: 49.025%;
	vertical-align: top;
}

.drag-col_space {width: 1.95%;}
