		<!-- BEGIN INTRODUCTION MODAL MODULE -->
		<div class="modal js-modal js-modalIntro" style="display: none;">
		    <div class="modal-mask js-modal-mask js-modal-mask_close"></div>
			    <div class="modal-content js-modal-content">
			    	<div class="js-modal-steps">
		    			<div class="modal-hd">
		    				<ul class="modal-hd-steps js-modal-hd-steps">
		    					<li class="active"><span>We’ve made some exciting changes to EPIC <span class="txt_light">(1 of 4)</span></span></li>
		    					<li><span>Choose which information you want to access  <span class="txt_light">(2 of 4)</span></span></li>
		    					<li><span>Decide which widgets you want to appear <span class="txt_light">(3 of 4)</span></span></li>
		    					<li><span>Rearrange items on your home page <span class="txt_light">(4 of 4)</span></span></li>
		    				</ul>
				        </div>
				        <div class="modal-bd">
				        	<ul class="modal-bd-steps js-modal-bd-steps">
				        		<li class="active">
				        			<img src="./media/images/epic-step-1.gif" alt="" class="imgResponsive pushBtm10">
									<p class="pushBtm20">Starting today, you’ll see a new home page that can be customized to meet your needs. The new design will make navigating through EPIC easier!</p>
				        		</li>
				        		<li>
				        			<img src="./media/images/epic-step-2.png" alt="" class="imgResponsive pushBtm10">
									<p class="pushBtm10">The new design provides short cuts to common tasks like viewing access code status and viewing your EPIC credit balance history.</p>
								</li>
				        		<li>
				        			<img src="./media/images/epic-step-3.gif" alt="" class="imgResponsive pushBtm10">
									<p class="pushBtm20">Use the Customize Your Home Page option to hide and show items.</p>
				        		</li>
				        		<li>
				        			<img src="./media/images/epic-step-4.gif" alt="" class="imgResponsive pushBtm10">
									<p class="pushBtm20">Use the drag icon to 'pick up' widgets and move them to a different location.</p>
				        		</li>
				        	</ul>
				        </div>
				        <div class="modal-ft">
				        	<div class="modal-remove">
				        		<label for="check-remove-1" class="checkbox">
		                            <input type="checkbox" id="check-remove-1" />
		                            <span>
		                                <i class="icon-square"></i>
		                                <i class="icon-check-square"></i>
		                            </span>
		                            <span class="modal-remove-text">Don't show again</span>
		                            <span class="modal-remove-textMobile">Skip</span>
		                        </label>
				        	</div>
				        	<ul class="modal-action-steps js-modal-action-steps">
				        		<li class="active">
				        			<div class="btn pushBtm10 js-modal-close">Close</div>
					        		<div class="btn pushBtm10 js-modal-next">Next</div>
					        	</li>
				        		<li><div class="btn pushBtm10 js-modal-close">Got it!</div></li>
				        	</ul>
				        </div>
				    </div>
				</div>
		    </div>
		</div><!-- END INTRODUCTION MODAL MODULE-->