		<!-- BEGIN MODAL MODULE -->
		<div class="modal js-modal">
		    <div class="modal-mask js-modal-mask js-modal-mask_close"></div><!-- REMOVE modal-mask_close IF YOU WANT TO DEACTIVATE ON CLICK CLOSE FUNCTION ON MASK -->
		    <div class="modal-content js-modal-content">
		        <div class="modal-hd">
		            <span>Modal Heading</span>
		            <a href="javascript:void(0)" class="modal-close js-modal-close">
			            <span class="isVisuallyHidden">Close Modal</span>
			            <i class="icon-cross2"></i>
			        </a>
		        </div>
		        <div class="js-modal-bd modal-bd">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus cum voluptatem, vero laudantium quod at harum numquam similique odio molestias corporis atque eum cumque doloremque unde beatae debitis velit soluta dignissimos nemo nostrum culpa. Nobis eos perferendis non. Aperiam, natus ea inventore ipsam quisquam iste necessitatibus, magni cumque, ullam ut doloribus quibusdam odit dolor omnis voluptas in quidem ex consequatur quo aliquid pariatur at suscipit illo accusamus assumenda. <a href="">Maiores asperiores voluptates sint voluptas</a>, corporis dignissimos molestias pariatur eaque quisquam perferendis voluptatibus sed quam possimus soluta odio assumenda autem cum impedit? Dolorum tempore assumenda deserunt ullam fuga cupiditate cumque, iusto at. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, enim minus odio nemo aperiam dicta officiis, quibusdam recusandae cumque quis!</p>
					<table>
						<thead>
							<th>T Heading 1</th>
							<th>T Heading 2</th>
							<th>T Heading 3</th>
						</thead>
						<tbody>
							<tr>
								<td>Row 1 column 1</td>
								<td>Row 1 column 2</td>
								<td>Row 1 column 3</td>
							</tr>
							<tr>
								<td>Row 2 column 1</td>
								<td>Row 2 column 2</td>
								<td>Row 2 column 3</td>
							</tr>
						</tbody>
					</table>
					<img src="http://placehold.it/700x700" alt="" class="imgResponsive">
		        </div>
		        <div class="modal-ft">
		        	<div class="btn btn_secondary pushBtm10 js-modal-close">Close</div>
		        </div>
		    </div>
		</div><!-- END MODAL MODULE-->