                                                <ul class="stacks">
                                                    <li class="txt_center">
                                                        <p class="txt_upper">Starting</p>
                                                        <p>
                                                            <span class="txt_xxlg">12,560</span>
                                                        </p>
                                                    </li>
                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xlg txt_green">
                                                                <i class="icon-plus"></i>
                                                            </span>
                                                            <span class="txt_xxlg">1,000</span>
                                                        </p>
                                                        <p>Purchased <span class="txt_inlineBlock">from Wiley</span></p>
                                                    </li>
                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xlg txt_green">
                                                                <i class="icon-minus"></i>
                                                            </span>
                                                            <span class="txt_xxlg">180</span>
                                                        </p>
                                                        <p>Used to create sub accounts</p>
                                                    </li>
                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xlg txt_green">
                                                                <i class="icon-minus"></i>
                                                            </span>
                                                            <span class="txt_xxlg">75</span>
                                                        </p>
                                                        <p>Transfered to sub accounts</p>
                                                    </li>
                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xlg txt_green">
                                                                <i class="icon-plus"></i>
                                                            </span>
                                                            <span class="txt_xxlg">25</span>
                                                        </p>
                                                        <p>Received from sub accounts</p>
                                                    </li>
                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xlg txt_green">
                                                                <i class="icon-minus"></i>
                                                            </span>
                                                            <span class="txt_xxlg">7,350</span>
                                                        </p>
                                                        <p>Access codes assigned</p>
                                                    </li>
                                                    <li class="txt_center">
                                                        
                                                    </li>
                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xxlg">5,980</span>
                                                        </p>
                                                        <p class="txt_upper">Ending</p>
                                                    </li>
                                                </ul>