// ------------------------------------------------------------------
// Font Icons
// ------------------------------------------------------------------
@font-face {
  font-family: 'icomoon';
  src:  url('../media/fonts/icomoon.eot?acwcbb');
  src:  url('../media/fonts/icomoon.eot?acwcbb#iefix') format('embedded-opentype'),
    url('../media/fonts/icomoon.ttf?acwcbb') format('truetype'),
    url('../media/fonts/icomoon.woff?acwcbb') format('woff'),
    url('../media/fonts/icomoon.svg?acwcbb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eraser:before {
  content: "\e611";
}
.icon-pencil5:before {
  content: "\e613";
}
.icon-magic-wand:before {
  content: "\e62b";
}
.icon-trash2:before {
  content: "\e681";
}
.icon-paper-plane:before {
  content: "\e699";
}
.icon-calendar-31:before {
  content: "\e788";
}
.icon-icons:before {
  content: "\e87e";
}
.icon-check:before {
  content: "\e934";
}
.icon-cross2:before {
  content: "\e935";
}
.icon-plus:before {
  content: "\e936";
}
.icon-minus:before {
  content: "\e937";
}
.icon-tab:before {
  content: "\e94f";
}
.icon-arrow-left-circle:before {
  content: "\e960";
}
.icon-arrow-right-circle:before {
  content: "\e961";
}
.icon-square:before {
  content: "\e98d";
}
.icon-check-square:before {
  content: "\e999";
}
.icon-circle:before {
  content: "\e99d";
}
.icon-envelope2:before {
  content: "\e697";
}
