<!-- styleguide.nunjucks -->
{% extends "layout.html" %}

{% block content %}

		    <div class="wrap wrap_content" id="top">

				<h1 class="hdg hdg_pushBtm">EPIC Dashboard Styleguide.</h1>
				<a href="index.html">Go to Index Page</a>

				<div class="hdg_pushBtm"></div>

				<!-- TEMPLATE SECTOR 
				<div class="sector">
					<div class="sector-hd"><h2 class="hdg hdg_2"></h2></div>
					<div class="sector-bd"></div>
				</div> -->

				<!-- COLORS SECTOR -->
				<div class="sector">
					<div class="sector-hd"><h2 class="hdg">Colors</h2></div>
					<div class="sector-bd">
						<ul class="list">
							<li style="padding: 5px;background:#0c5793;color:white;">#0c5793</li>
							<li style="padding: 5px;background:#3e8acc;color:white;">#3e8acc</li>
							<li style="padding: 5px;background:#9dbbd3;">#9dbbd3</li>
							<li style="padding: 5px;background:#70c4d1;">#70c4d1</li>
							<li style="padding: 5px;background:#9ad5de;">#9ad5de</li>
							<li style="padding: 5px;background:#b7e1e8;">#b7e1e8</li>
							<li style="padding: 5px;background:#50bc83;">#50bc83</li>
							<li style="padding: 5px;background:#84d0a8;">#84d0a8</li>
							<li style="padding: 5px;background:#f7f8f8;">#f7f8f8</li>
							<li style="padding: 5px;background:#eeeff0;">#eeeff0</li>
							<li style="padding: 5px;background:#e1e5ea;">#e1e5ea</li>
							<li style="padding: 5px;background:#d2d8e0;">#d2d8e0</li>
							<li style="padding: 5px;background:#babfc6;">#babfc6</li>
							<li style="padding: 5px;background:#56616b;color:white;">#56616b</li>
							<li style="padding: 5px;background:#000000;color:white;">#000000</li>
						</ul>
					</div>
				</div>

				<!-- TEMPLATE SECTOR -->
				<div class="sector">
					<div class="sector-hd"><h2 class="hdg">Icons, Linearicons</h2></div>
					<div class="sector-bd" style="height:100px;position:relative;font-size:20px;">
						<ul class="hList">
							<li><i class="icon-eraser"></i></li>
							<li><i class="icon-pencil5"></i></li>
							<li><i class="icon-magic-wand"></i></li>
							<li><i class="icon-trash2"></i></li>
							<li><i class="icon-paper-plane"></i></li>
							<li><i class="icon-calendar-31"></i></li>
							<li><i class="icon-icons"></i></li>
							<li><i class="icon-check"></i></li>
							<li><i class="icon-cross2"></i></li>
							<li><i class="icon-plus"></i></li>
							<li><i class="icon-minus"></i></li>
							<li><i class="icon-tab"></i></li>
							<li><i class="icon-arrow-left-circle"></i></li>
							<li><i class="icon-arrow-right-circle"></i></li>
							<li><i class="icon-square"></i></li>
							<li><i class="icon-check-square"></i></li>
							<li><i class="icon-circle"></i></li>
						</ul>
					</div>
				</div>
				
				<!-- TEXT SECTOR -->
				<div class="sector">
					<div class="sector-hd"><h2 class="hdg">Text</h2></div>
					<div class="sector-bd">
						<p>This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas culpa necessitatibus cum nisi labore nulla! Iure pariatur alias quaerat magni beatae placeat aut, tenetur ratione unde dolorum, fuga. Voluptatem, nam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, veritatis! Lorem ipsum dolor sit amet <a href="index.html">Index Page</a>.</p>
						<ul class="list">
							<li><span class="txt txt_lg">Large Text</span></li>
							<li><span class="txt txt_med">Medium Text</span></li>
							<li><span class="txt txt_sm">Small Text</span></li>
							<li><span class="txt txt_bold">Bold Text</span></li>
							<li><span class="txt txt_italic">Italic Text</span></li>
							<li><span class="txt txt_upper">Uppercase Text</span></li>
							<li style="padding: 3px;background:black;"><span class="txt txt_white">White Text</span></li>
						</ul>
					</div>
				</div>

				<!-- HEADINGS SECTOR -->
				<div class="sector">
					<div class="sector-hd"><h2 class="hdg">Headings</h2></div>
					<div class="sector-bd">
						<h3 class="hdg">Heading 1</h3>
					</div>
				</div>

				<!-- BUTTONS SECTOR -->
				<div class="sector">
					<div class="sector-hd"><h2 class="hdg">Buttons</h2></div>
					<div class="sector-bd">
						<a href="#" class="btn">Button Primary</a>
						<a href="#" class="btn btn_secondary">Button Secondary</a>
					</div>
				</div>

				<!-- PILL SECTOR -->
				<div class="sector">
					<div class="sector-hd"><h2 class="hdg">Pill Buttons</h2></div>
					<div class="sector-bd">
						<ul class="pill js-tab-trigger">
                            <li><a href="#access-code-status" class="pill-trigger active js-swap-trigger1">Pending</a></li>
                            <li><a href="#access-code-status" class="pill-trigger js-swap-trigger2">Resent</a></li>
                            <li><a href="#access-code-status" class="pill-trigger js-swap-trigger2">Completed</a></li>
                        </ul>
					</div>
				</div>

		    </div>

{% endblock %}
