                            <div class="tile js-toggle">
                                <div class="isHiddenDesktop1024" id="access-code-status"></div>
                                <div class="tile-hd">
                                    <i class="icon-icons js-autoScroll-trigger"></i>
                                    <div class="tile-hd-title">
                                        <h2 class="hdg hdg_alignV js-toggle-trigger">Access Code Status</h2> 
                                    </div>
                                    <div class="tile-toggle js-toggle-trigger">
                                        <i class="icon-minus"></i>
                                    </div>
                                </div>
                                <div class="tab js-toggle-content js-tab">
                                    <div class="tile-bd">
                                        
                                        <!-- START SUB TAB SECTION -->
                                        <div class="tab-sub js-tab-sub">
                                            <ul class="tab-sub-hd">
                                                <li class="js-tab-sub-back">
                                                    <a href="javascript:void(0);" class="js-tab-sub-trigger tab-sub-trigger"><i class="icon-arrow-left-circle"></i></a>
                                                </li>
                                                <li class="tab-sub-hd-title js-tab-sub-title">
                                                    <span class="first">January 2017</span>
                                                    <span>February 2017</span>
                                                    <span>March 2017</span>
                                                    <span>April 2017</span>
                                                    <span>May 2017</span>
                                                    <span>June 2017</span>
                                                    <span>July 2017</span>
                                                    <span>August 2017</span>
                                                    <span>September 2017</span>
                                                    <span>October 2017</span>
                                                    <span>November 2017</span>
                                                    <span class="last active">December 2017</span>
                                                </li>
                                                <li class="js-tab-sub-next">
                                                    <a href="javascript:void(0);" class="js-tab-sub-trigger tab-sub-trigger"><i class="icon-arrow-right-circle"></i></a>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- TAB CONTENT 1 -->
                                        <div class="tab-content js-tab-content" style="display:block;">
                                            <div class="tab-sub-content js-tab-sub-content">
                                                <table class="table_sort table_primary">
                                                    <thead>
                                                        <tr>
                                                            <th><span>Date</span><i class="table-sort desc"></i></th>
                                                            <th><span>Name</span><i class="table-sort"></i></th>
                                                            <th><span>Folder / Subfolder</span><i class="table-sort"></i></th>
                                                            <th><span>Status</span><i class="table-sort"></i></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1/07</td>
                                                            <td>Tracy La Chance</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/09</td>
                                                            <td>Laurie Diethelm</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/12</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/13</td>
                                                            <td>Tracy La Chance</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/17</td>
                                                            <td>Laurie Diethelm</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/17</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/18</td>
                                                            <td>Tracy La Chance</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/19</td>
                                                            <td>Laurie Diethelm</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/21</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/22</td>
                                                            <td>Tracy La Chance</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/23</td>
                                                            <td>Laurie Diethelm</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/25</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/26</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/27</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/28</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/28</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/29</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/30</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/31</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            {% include "partials/sub-tabs/_table-dummy-data-pending.html" %}
                                        </div>

                                        <!-- TAB CONTENT 2 -->
                                        <div class="tab-content js-tab-content">
                                            <div class="tab-sub-content js-tab-sub-content">
                                                <table class="table_sort table_secondary">
                                                    <thead>
                                                        <tr>
                                                            <th><span>Date</span><i class="table-sort"></i></th>
                                                            <th><span>Name</span><i class="table-sort"></i></th>
                                                            <th><span>Folder / Subfolder</span><i class="table-sort"></i></th>
                                                            <th><span>Status</span><i class="table-sort asc"></i></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1/07</td>
                                                            <td>Tracy La Chance</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/31</td>
                                                            <td>Laurie Diethelm</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Completed</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/25</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Pending</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/07</td>
                                                            <td>Tracy La Chance</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Completed</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/31</td>
                                                            <td>Laurie Diethelm</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Completed</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/25</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Completed</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            {% include "partials/sub-tabs/_table-dummy-data-resent.html" %}
                                        </div>

                                        <!-- TAB CONTENT 3 -->
                                        <div class="tab-content js-tab-content">
                                            <div class="tab-sub-content js-tab-sub-content">
                                                <table class="table_sort table_tertiary">
                                                    <thead>
                                                        <tr>
                                                            <th><span>Date</span><i class="table-sort"></i></th>
                                                            <th><span>Name</span><i class="table-sort"></i></th>
                                                            <th><span>Folder / Subfolder</span><i class="table-sort"></i></th>
                                                            <th><span>Status</span><i class="table-sort asc"></i></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1/07</td>
                                                            <td>Tracy La Chance</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Completed</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/31</td>
                                                            <td>Laurie Diethelm</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Completed</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/25</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Completed</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/07</td>
                                                            <td>Tracy La Chance</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Completed</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/31</td>
                                                            <td>Laurie Diethelm</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Completed</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/25</td>
                                                            <td>Reed Steele</td>
                                                            <td>Folder Name / Subfolder Name</td>
                                                            <td>Completed</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            {% include "partials/sub-tabs/_table-dummy-data-assign.html" %}
                                        </div>

                                    </div><!-- END TILE BD -->

                                    <div class="tile-ft js-swap">
                                        <div class="tile-ft-float">
                                            <ul class="pill js-tab-trigger">
                                                <li><a href="#access-code-status" class="pill-trigger active js-swap-trigger1">Pending</a></li>
                                                <li><a href="#access-code-status" class="pill-trigger js-swap-trigger2">Resent</a></li>
                                                <li><a href="#access-code-status" class="pill-trigger js-swap-trigger2">Completed</a></li>
                                            </ul>
                                        </div>
                                        <div class="tile-ft-float">
                                            <a href="https://admin.inscape-epic.com/search/search.aspx?fn=3" target="_blank" class="btn js-swap-content1">Resend Login Info</a>
                                            <a href="https://admin.inscape-epic.com/rpt/rpt_select_product.aspx?fn=3" target="_blank" class="btn pushRight5 js-swap-content2" style="display:none;">Batch Edit</a>
                                            <a href="https://admin.inscape-epic.com/search/search.aspx?fn=1" target="_blank" class="btn js-swap-content2" style="display:none;">Edit Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>