                            <div class="tile js-toggle">
                                <div class="isHiddenDesktop1024" id="activities"></div>
                                <div class="tile-hd">
                                    <i class="icon-icons js-autoScroll-trigger"></i>
                                    <div class="tile-hd-title">
                                        <h2 class="hdg hdg_alignV js-toggle-trigger">Activities</h2> 
                                    </div>
                                    <div class="tile-toggle js-toggle-trigger">
                                        <i class="icon-minus"></i>
                                    </div>
                                </div>
                                <div class="tab js-tab js-toggle-content">
                                    <div class="tile-bd">
                                        <!-- START SUB TAB SECTION -->
                                        <div class="tab-sub js-tab-sub">
                                            <ul class="tab-sub-hd">
                                                <li class="tab-sub-trigger js-tab-sub-back"><i class="icon-arrow-left-circle"></i></li>
                                                <li class="tab-sub-hd-title js-tab-sub-title">
                                                    <span class="first active">January 2017</span>
                                                    <span>February 2017</span>
                                                    <span>March 2017</span>
                                                    <span>April 2017</span>
                                                    <span>May 2017</span>
                                                    <span>June 2017</span>
                                                    <span>July 2017</span>
                                                    <span>August 2017</span>
                                                    <span>September 2017</span>
                                                    <span>October 2017</span>
                                                    <span>November 2017</span>
                                                    <span class="last">December 2017</span>
                                                </li>
                                                <li class="tab-sub-trigger js-tab-sub-next"><i class="icon-arrow-right-circle"></i></li>
                                            </ul>
                                        </div>

                                        <!-- TAB CONTENT 1 -->
                                        <div class="tab-content js-tab-content" style="display:block;">
                                            <div class="tab-sub-content js-tab-sub-content first active">
                                                <div class="calendar js-calendar">
                                                    <ul class="calendar-hd">
                                                        <li>S</li>
                                                        <li>M</li>
                                                        <li>T</li>
                                                        <li>W</li>
                                                        <li>T</li>
                                                        <li>F</li>
                                                        <li>S</li>
                                                    </ul>
                                                    <ul class="calendar-list js-calendar-list">
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li>1</li>
                                                        <li>2</li>
                                                        <li>3</li>
                                                        <li>4<span class="calendar-mark"></span></li>
                                                        <li>5<span class="calendar-mark"></span></li>
                                                        <li>6</li>
                                                        <li>7</li>
                                                        <li>8</li>
                                                        <li>9</li>
                                                        <li>10</li>
                                                        <li class="active">11<span class="calendar-mark"></span></li>
                                                        <li>12</li>
                                                        <li>13</li>
                                                        <li>14<span class="calendar-mark"></span></li>
                                                        <li>15</li>
                                                        <li>16</li>
                                                        <li>17</li>
                                                        <li>18</li>
                                                        <li>19</li>
                                                        <li>20</li>
                                                        <li>21</li>
                                                        <li>22</li>
                                                        <li>23<span class="calendar-mark"></span></li>
                                                        <li>24</li>
                                                        <li>25</li>
                                                        <li>26</li>
                                                        <li>27</li>
                                                        <li>28</li>
                                                        <li>29</li>
                                                        <li>30</li>
                                                        <li>31</li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                </div>

                                                <table class="table">
                                                    <colgroup>
                                                        <col>
                                                        <col style="width: 100%;">
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="circle circle_sm">
                                                                    <i class="icon-calendar-31"></i>
                                                                </div>
                                                            </td>
                                                            <td>Scheduled <span class="txt_lg txt_bold txt_teal">100,000</span> access codes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="circle circle_sm">
                                                                    <i class="icon-eraser"></i>
                                                                </div>
                                                            </td>
                                                            <td>Unassigned <span class="txt_lg txt_bold txt_teal">100</span> access codes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="circle circle_sm">
                                                                    <i class="icon-paper-plane"></i>
                                                                </div>
                                                            </td>
                                                            <td>Sent <span class="txt_lg txt_bold txt_teal">10</span> access codes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="circle circle_sm">
                                                                    <i class="icon-magic-wand"></i>
                                                                </div>
                                                            </td>
                                                            <td>Generated <span class="txt_lg txt_bold txt_teal">1,000</span> batches</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!-- TAB CONTENT 2 -->
                                        <div class="tab-content js-tab-content">
                                            <div class="tab-sub-content js-tab-sub-content first active">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>1/11</td>
                                                            <td>
                                                                <div class="circle circle_sm">
                                                                    <i class="icon-calendar-31"></i>
                                                                </div>
                                                            </td>
                                                            <td>Scheduled <span class="txt_lg txt_bold txt_teal">100,000</span> access codes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/14</td>
                                                            <td>
                                                                <div class="circle circle_sm">
                                                                    <i class="icon-eraser"></i>
                                                                </div>
                                                            </td>
                                                            <td>Unassigned <span class="txt_lg txt_bold txt_teal">100</span> access codes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/19</td>
                                                            <td>
                                                                <div class="circle circle_sm">
                                                                    <i class="icon-paper-plane"></i>
                                                                </div>
                                                            </td>
                                                            <td>Sent <span class="txt_lg txt_bold txt_teal">10</span> access codes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/22</td>
                                                            <td>
                                                                <div class="circle circle_sm">
                                                                    <i class="icon-magic-wand"></i>
                                                                </div>
                                                            </td>
                                                            <td>Generated <span class="txt_lg txt_bold txt_teal">1,000</span> batches</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/24</td>
                                                            <td>
                                                                <div class="circle circle_sm">
                                                                    <i class="icon-trash2"></i>
                                                                </div>
                                                            </td>
                                                            <td>Deleted <span class="txt_lg txt_bold txt_teal">1</span> access codes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/27</td>
                                                            <td>
                                                                <div class="circle circle_sm">
                                                                    <i class="icon-tab"></i>
                                                                </div>
                                                            </td>
                                                            <td>Moved <span class="txt_lg txt_bold txt_teal">99</span> records</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/29</td>
                                                            <td>
                                                                <div class="circle circle_sm">
                                                                    <i class="icon-pencil5"></i>
                                                                </div>
                                                            </td>
                                                            <td>Created <span class="txt_lg txt_bold txt_teal">9</span> sub accounts</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile-ft">
                                        <div class="tile-ft-float">
                                            <ul class="pill js-tab-trigger">
                                                <li><a href="#activities" class="active">Calendar</a></li>
                                                <li><a href="#activities">List</a></li>
                                            </ul>
                                        </div>
                                        <div class="tile-ft-float">
                                            <a href="" class="btn">View Account History</a>
                                        </div>
                                    </div>
                                </div>
                            </div>