                            <div class="tile js-toggle">
                                <div class="isHiddenDesktop1024" id="credit-balance-history"></div>
                                <div class="tile-hd">
                                    <i class="icon-icons js-autoScroll-trigger"></i>
                                    <div class="tile-hd-title">
                                        <h2 class="hdg hdg_alignV js-toggle-trigger">Award Status</h2> 
                                    </div>
                                    <div class="tile-toggle js-toggle-trigger">
                                        <i class="icon-minus"></i>
                                    </div>
                                </div>

                                <div class="tile-bd">
                                    <div class="tile-bd-hd">Your 2018 purchases combine to determine your 2019 Award level.</div>
                                    <div class="tile-bd-content">
                                        <div class="progression">
                                            <div class="progression-hd">
                                                <span class="txt_bold txt_med">2019 Award Level</span>
                                                <span class="txt_med">Current Level: <span class="txt_bold txt_blue">Sapphire </span></span>
                                            </div>
                                            <div class="progression-bar">
                                                <div class="progression-bar-fill" style="width:33%;"></div>
                                                <ul class="progression-bar-bookends">
                                                    <li>
                                                        <span class="txt_block txt_xlg">$18,500</span>
                                                        <span class="txt_block">2018 YTD Purchases</span>
                                                    </li>
                                                    <li>
                                                        <span class="txt_block txt_xlg">$11,500</span>
                                                        <span class="txt_block">To Ruby Level</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="progression-ft">
                                                <div class="">As of 03/16/2018 </div>
                                                <div class="">Sapphire Award Level: $15,000 to $29,999</div>
                                            </div>
                                        </div>
                                        <div class="progression">
                                            <div class="progression-hd">
                                                <span class="txt_bold txt_med">2018 Award Level</span>
                                                <span class="txt_med">Award Level: <span class="txt_bold txt_blue">Ruby</span></span>
                                            </div>
                                            <div class="progression-bar">
                                                <ul class="progression-bar-bookends">
                                                    <li>
                                                        <span class="txt_block txt_xlg">$35,000</span>
                                                        <span class="txt_block">2017 Purchases</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile-ft">
                                        <div class="tile-ft-float">
                                            <a href="" class="btn btn_tertiary">2018 Awards Program PDF</a>
                                        </div>
                                        <div class="tile-ft-float">
                                            <a href="" class="btn btn_tertiary">2019 Awards Program PDF</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            