                            <div class="tile js-toggle">
                                <div class="isHiddenDesktop1024" id="credit-balance-history"></div>
                                <div class="tile-hd">
                                    <i class="icon-icons js-autoScroll-trigger"></i>
                                    <div class="tile-hd-title">
                                        <h2 class="hdg hdg_alignV js-toggle-trigger">EPIC Credit Balance History</h2> 
                                    </div>
                                    <div class="tile-toggle js-toggle-trigger">
                                        <i class="icon-minus"></i>
                                    </div>
                                </div>
                                <div class="tab js-tab js-toggle-content">
                                    <div class="tile-bd">
                                        <!-- START SUB TAB SECTION -->
                                        <div class="tab-sub js-tab-sub">
                                            <ul class="tab-sub-hd">
                                                <li class="tab-sub-trigger js-tab-sub-back">
                                                    <a href="javascript:void(0);" class="js-tab-sub-trigger tab-sub-trigger"><i class="icon-arrow-left-circle"></i></a>
                                                </li>
                                                <li class="tab-sub-hd-title js-tab-sub-title">
                                                    <span class="first">January 2017</span>
                                                    <span>February 2017</span>
                                                    <span>March 2017</span>
                                                    <span>April 2017</span>
                                                    <span>May 2017</span>
                                                    <span>June 2017</span>
                                                    <span>July 2017</span>
                                                    <span>August 2017</span>
                                                    <span>September 2017</span>
                                                    <span>October 2017</span>
                                                    <span>November 2017</span>
                                                    <span class="last active">December 2017</span>
                                                </li>
                                                <li class="tab-sub-trigger js-tab-sub-next">
                                                    <a href="javascript:void(0);" class="js-tab-sub-trigger tab-sub-trigger"><i class="icon-arrow-right-circle"></i></a>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- TAB CONTENT 1 -->
                                        <div class="tab-content js-tab-content" style="display:block;">
                                            <div class="tab-sub-content js-tab-sub-content">
                                                <ul class="stacks">
                                                    <li class="txt_center">
                                                        <p class="txt_upper">Starting</p>
                                                        <p>
                                                            <span class="txt_xxlg">12,560</span>
                                                        </p>
                                                    </li>
                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xlg txt_green">
                                                                <i class="icon-plus"></i>
                                                            </span>
                                                            <span class="txt_xxlg">1,000</span>
                                                        </p>
                                                        <p>Purchased <span class="txt_inlineBlock">from Wiley</span></p>
                                                    </li>
                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xlg txt_green">
                                                                <i class="icon-minus"></i>
                                                            </span>
                                                            <span class="txt_xxlg">180</span>
                                                        </p>
                                                        <p>Used to create sub accounts</p>
                                                    </li>
                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xlg txt_green">
                                                                <i class="icon-minus"></i>
                                                            </span>
                                                            <span class="txt_xxlg">75</span>
                                                        </p>
                                                        <p>Transfered to sub accounts</p>
                                                    </li>

                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xlg txt_green">
                                                                <i class="icon-plus"></i>
                                                            </span>
                                                            <span class="txt_xxlg">25</span>
                                                        </p>
                                                        <p>Received from sub accounts</p>
                                                    </li>
                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xlg txt_green">
                                                                <i class="icon-minus"></i>
                                                            </span>
                                                            <span class="txt_xxlg">7,350</span>
                                                        </p>
                                                        <p>Access codes assigned</p>
                                                    </li>
                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xlg txt_green">
                                                                <i class="icon-plus"></i>
                                                            </span>
                                                            <span class="txt_xxlg">50</span>
                                                        </p>
                                                        <p>Wiley Credit Adjustments</p>
                                                    </li>
                                                    <li class="txt_center">
                                                        <p>
                                                            <span class="txt_xxlg">6,030</span>
                                                        </p>
                                                        <p class="txt_upper">Ending</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                            <div class="tab-sub-content js-tab-sub-content">
                                                {% include "partials/sub-tabs/_balance-totals-dummy-data.html" %}
                                            </div>
                                            <div class="tab-sub-content js-tab-sub-content">
                                                {% include "partials/sub-tabs/_balance-totals-dummy-data.html" %}
                                            </div>
                                            <div class="tab-sub-content js-tab-sub-content">
                                                {% include "partials/sub-tabs/_balance-totals-dummy-data.html" %}
                                            </div>
                                            <div class="tab-sub-content js-tab-sub-content">
                                                {% include "partials/sub-tabs/_balance-totals-dummy-data.html" %}
                                            </div>
                                            <div class="tab-sub-content js-tab-sub-content">
                                                {% include "partials/sub-tabs/_balance-totals-dummy-data.html" %}
                                            </div>
                                            <div class="tab-sub-content js-tab-sub-content">
                                                {% include "partials/sub-tabs/_balance-totals-dummy-data.html" %}
                                            </div>
                                            <div class="tab-sub-content js-tab-sub-content">
                                                {% include "partials/sub-tabs/_balance-totals-dummy-data.html" %}
                                            </div>
                                            <div class="tab-sub-content js-tab-sub-content">
                                                {% include "partials/sub-tabs/_balance-totals-dummy-data.html" %}
                                            </div>
                                            <div class="tab-sub-content js-tab-sub-content">
                                                {% include "partials/sub-tabs/_balance-totals-dummy-data.html" %}
                                            </div>
                                            <div class="tab-sub-content js-tab-sub-content">
                                                {% include "partials/sub-tabs/_balance-totals-dummy-data.html" %}
                                            </div>
                                            <div class="tab-sub-content js-tab-sub-content active">
                                                {% include "partials/sub-tabs/_balance-totals-dummy-data.html" %}
                                            </div>
                                        </div>

                                        <!-- TAB CONTENT 2 -->
                                        <div class="tab-content js-tab-content">
                                            <div class="tab-sub-content js-tab-sub-content">
                                                <table class="table_sort">
                                                    <tbody>
                                                        <tr>
                                                            <td>1/07</td>
                                                            <td class="txt_med txt_green"><i class="icon-plus"></i></td>
                                                            <td class="txt_xlg txt_green">1,000</td>
                                                            <td>Purchased from Wiley</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/14</td>
                                                            <td class="txt_med txt_green"><i class="icon-minus"></i></td>
                                                            <td class="txt_xlg txt_green">45</td>
                                                            <td>Created sub account Target Inc.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/14</td>
                                                            <td class="txt_med txt_green"><i class="icon-minus"></i></td>
                                                            <td class="txt_xlg txt_green">135</td>
                                                            <td>Created sub accounts Company LTD., Xiom Associates, Retail Co.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/19</td>
                                                            <td class="txt_med txt_green"><i class="icon-plus"></i></td>
                                                            <td class="txt_xlg txt_green">25</td>
                                                            <td>Wiley Credit Adjustments</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/29</td>
                                                            <td class="txt_med txt_green"><i class="icon-minus"></i></td>
                                                            <td class="txt_xlg txt_green">15</td>
                                                            <td>Transfer to St. Joseph</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/07</td>
                                                            <td class="txt_med txt_green"><i class="icon-plus"></i></td>
                                                            <td class="txt_xlg txt_green">1,000</td>
                                                            <td>Purchased from Wiley</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/14</td>
                                                            <td class="txt_med txt_green"><i class="icon-minus"></i></td>
                                                            <td class="txt_xlg txt_green">45</td>
                                                            <td>Created sub account Target Inc.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/14</td>
                                                            <td class="txt_med txt_green"><i class="icon-minus"></i></td>
                                                            <td class="txt_xlg txt_green">135</td>
                                                            <td>Created sub accounts Company LTD., Xiom Associates, Retail Co.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/19</td>
                                                            <td class="txt_med txt_green"><i class="icon-plus"></i></td>
                                                            <td class="txt_xlg txt_green">25</td>
                                                            <td>Wiley Credit Adjustments</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/29</td>
                                                            <td class="txt_med txt_green"><i class="icon-minus"></i></td>
                                                            <td class="txt_xlg txt_green">15</td>
                                                            <td>Transfer to St. Joseph</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/14</td>
                                                            <td class="txt_med txt_green"><i class="icon-minus"></i></td>
                                                            <td class="txt_xlg txt_green">135</td>
                                                            <td>Created sub accounts Company LTD., Xiom Associates, Retail Co.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/19</td>
                                                            <td class="txt_med txt_green"><i class="icon-plus"></i></td>
                                                            <td class="txt_xlg txt_green">25</td>
                                                            <td>Wiley Credit Adjustments</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1/29</td>
                                                            <td class="txt_med txt_green"><i class="icon-minus"></i></td>
                                                            <td class="txt_xlg txt_green">15</td>
                                                            <td>Transfer to St. Joseph</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            {% include "partials/sub-tabs/_balance-details-dummy-data.html" %}
                                        </div>
                                    </div>
                                    <div class="tile-ft">
                                        <div class="tile-ft-float">
                                            <ul class="pill js-tab-trigger">
                                                <li><a href="#credit-balance-history" class="pill-trigger active">Totals</a></li>
                                                <li><a href="#credit-balance-history" class="pill-trigger">Details</a></li>
                                            </ul>
                                        </div>
                                        <div class="tile-ft-float">
                                            <a href="" class="btn">Monthly Credit Activity</a>
                                        </div>
                                    </div>
                                </div>
                            </div>