                            <div class="tile tile_grayLight js-toggle">
                                <div class="tile-hd">
                                    <div class="tile-icon-fixedWidth">
                                        <i class="icon-icons js-autoScroll-trigger"></i>
                                    </div>
                                    <h2 class="hdg hdg_alignV padRight10">
                                        <span>Customize your home page</span>
                                    </h2>
                                    <div class="btn js-toggle-trigger">
                                        <span>Manage Widgets</span>
                                        <span style="display:none;">Save &amp; Close</span>
                                    </div>
                                </div>
                                <div class="js-toggle-content" style="display:none;">
                                    <div class="tile-bd tile-bd_scroll">
                                        <div class="tile-bd-content">
                                            <p class="pushBtm20">Choose which widgets you'd like displayed:</p>
                                            <ul class="checkList">
                                                <li>
                                                    <label for="check-1" class="checkbox">
                                                        <input type="checkbox" id="check-1" checked />
                                                        <span>
                                                            <i class="icon-square"></i>
                                                            <i class="icon-check-square"></i>
                                                        </span>
                                                        <span>Message</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="check-3" class="checkbox">
                                                        <input type="checkbox" id="check-3" checked />
                                                        <span>
                                                            <i class="icon-square"></i>
                                                            <i class="icon-check-square"></i>
                                                        </span>
                                                        <span>News from Wiley</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="check-5" class="checkbox">
                                                        <input type="checkbox" id="check-5" checked />
                                                        <span>
                                                            <i class="icon-square"></i>
                                                            <i class="icon-check-square"></i>
                                                        </span>
                                                        <span>Everything DiSC&reg; News</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="check-7" class="checkbox">
                                                        <input type="checkbox" id="check-7" checked />
                                                        <span>
                                                            <i class="icon-square"></i>
                                                            <i class="icon-check-square"></i>
                                                        </span>
                                                        <span>Five Behaviors&#8482; News</span>
                                                    </label>
                                                </li>

                                                <li>
                                                    <label for="check-2" class="checkbox">
                                                        <input type="checkbox" id="check-2" checked />
                                                        <span>
                                                            <i class="icon-square"></i>
                                                            <i class="icon-check-square"></i>
                                                        </span>
                                                        <span>Subaccount Tracking</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="check-6" class="checkbox">
                                                        <input type="checkbox" id="check-6" checked />
                                                        <span>
                                                            <i class="icon-square"></i>
                                                            <i class="icon-check-square"></i>
                                                        </span>
                                                        <span>Access Code Status</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label for="check-4" class="checkbox">
                                                        <input type="checkbox" id="check-4" checked />
                                                        <span>
                                                            <i class="icon-square"></i>
                                                            <i class="icon-check-square"></i>
                                                        </span>
                                                        <span>EPIC Credit Balance History</span>
                                                    </label>
                                                </li>
                                            </ul>
                                            <div class="wrap pushBtm10">
                                                <a href="javascript:void(0)" class="link">Reset to Default</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>