                                    <div class="tile js-toggle">
                                        <div class="tile-hd">
                                            <i class="icon-icons js-autoScroll-trigger"></i>
                                            <div class="tile-hd-title">
                                                <h2 class="hdg hdg_alignV js-toggle-trigger">Message</h2> 
                                            </div>
                                            <div class="tile-toggle js-toggle-trigger">
                                                <i class="icon-minus"></i>
                                            </div>
                                        </div>
                                        <div class="js-toggle-content">
                                            <div class="tile-bd tile-bd_scroll">
                                                <div class="tile-bd-hd">
                                                    <p>Displayed to <a href="" class="link">11 Subaccounts</a></p>
                                                </div>
                                                <div class="tile-bd-content">
                                                    <div class="wysiwyg">
                                                        <p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis neque, soluta. Repellendus eos, ipsum earum molestias, incidunt temporibus corporis illum. Dolores repellat, sint quo. Similique aut ad, porro quos atque libero nulla quaerat, corporis hic. Dolorum molestiae autem, cum odio saepe quis fugiat, consequatur modi beatae cumque ut rerum rem impedit similique.</p>
                                                        <img src="http://placehold.it/800x300" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tile-ft">
                                                <div class="tile-ft-float">
                                                    <div class="checkbox padTop7">
                                                        <label for="check-message" class="checkbox">
                                                            <input type="checkbox" id="check-message" />
                                                            <span>
                                                                <i class="icon-square"></i>
                                                                <i class="icon-check-square"></i>
                                                            </span>
                                                            <span class="txt_bold">Show my company logo</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="tile-ft-float">
                                                    <a href="" class="btn">Edit Post</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>