                                    <div class="tile tile_grayDark js-toggle">
                                        <div class="tile-hd">
                                            <i class="icon-icons js-autoScroll-trigger"></i>
                                            <div class="tile-hd-title">
                                                <h2 class="hdg hdg_white hdg_alignV js-toggle-trigger">News from Wiley</h2> 
                                            </div>
                                            <div class="tile-toggle js-toggle-trigger">
                                                <i class="icon-minus"></i>
                                            </div>
                                        </div>
                                        <div class="js-toggle-content">
                                            <div class="tile-bd">
                                                <ul class="accordion js-accordion">
                                                    <li class="accordion-item js-accordion-item">
                                                        <div class="accordion-trigger js-accordion-trigger">
                                                            <i class="accordion-trigger-caret"></i>
                                                            <span>Learn about what we're building for you next week in EPIC</span>
                                                        </div>
                                                        <div class="accordion-content js-accordion-content">
                                                            <p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptatibus sapiente ducimus asperiores, dolore ab porro quaerat doloribus, autem mollitia voluptatum iste ipsum veritatis voluptatem consequatur ratione vero odio corrupti natus exercitationem. Laborum, alias nostrum nisi doloremque excepturi recusandae quod, dolor magni, officia ratione consequatur dignissimos quos hic, repellat amet.</p>
                                                            <a href="" class="link link_white js-modalTriggerDark">Read More</a>
                                                        </div>
                                                    </li>
                                                    <li class="accordion-item js-accordion-item">
                                                        <div class="accordion-trigger js-accordion-trigger">
                                                            <i class="accordion-trigger-caret"></i>
                                                            <span>Our offices are closing early on the Monday Holiday</span>
                                                        </div>
                                                        <div class="accordion-content js-accordion-content">
                                                            <p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptatibus sapiente ducimus asperiores, dolore ab porro quaerat doloribus, autem mollitia voluptatum iste ipsum veritatis voluptatem consequatur ratione vero odio corrupti natus exercitationem.</p>
                                                            <a href="" class="link link_white js-modalTriggerDark">Read More</a>
                                                        </div>
                                                    </li>
                                                    <li class="accordion-item js-accordion-item">
                                                        <div class="accordion-trigger js-accordion-trigger">
                                                            <i class="accordion-trigger-caret"></i>
                                                            <span>We have new Partner Care phone numbers</span>
                                                        </div>
                                                        <div class="accordion-content js-accordion-content">
                                                            <p class="pushBtm20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptatibus sapiente ducimus asperiores, dolore ab porro quaerat doloribus, autem mollitia voluptatum iste ipsum veritatis voluptatem consequatur ratione vero odio corrupti natus exercitationem.</p>
                                                            <a href="" class="link link_white js-modalTriggerDark">Read More</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tile-ft tile-ft_secondary">
                                                <a href="#" class="btn btn_secondary js-modalTriggerDark">View Archives</a>
                                            </div>
                                        </div>
                                    </div>