                            <div class="tile js-toggle">
                                <div class="isHiddenDesktop1024" id="subaccounts-activity"></div>
                                <div class="tile-hd">
                                    <i class="icon-icons js-autoScroll-trigger"></i>
                                    <div class="tile-hd-title">
                                        <h2 class="hdg hdg_alignV js-toggle-trigger">Subaccount Tracking</h2> 
                                    </div>
                                    <div class="tile-toggle js-toggle-trigger">
                                        <i class="icon-minus"></i>
                                    </div>
                                </div>
                                <!-- BEGIN TOGGLE CONTENT -->
                                <div class="js-toggle-content">
                                    <div class="tile-bd-hd">
                                        <p>Tracking 6 Subaccounts</p>
                                    </div>
                                    <div class="selectWrap">
                                        <label for="tracking-status">Sort by:</label>
                                        <select name="tracking-status" id="tracking-status" class="select">
                                            <option value="">Sub Account Name</option>
                                            <option value="">Low credit balance</option>
                                            <option value="">30-day credit use</option>
                                            <option value="">30-day reports assigned</option>
                                            <option value="">Date of last EPIC login</option>
                                        </select>
                                    </div>
                                    <div class="tile-bd tile-bd_scroll">
                                        <table class="tableBox">
                                            <tbody>
                                                <tr>
                                                    <td class="tableBox-company">
                                                        <div class="circle circle_tertiary pushBtm5">A</div>
                                                        <div class="">Apples</div>
                                                    </td>
                                                    <td>
                                                        <table class="tableBox-sub">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Credit balance</td>
                                                                    <td>1,125 credits</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>30-day credit use</td>
                                                                    <td>525 credits</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>30-day reports assigned</td>
                                                                    <td>35</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Date of last EPIC login</td>
                                                                    <td>10/07/16</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                       <a href="https://admin.inscape-epic.com/sub/sub_edit_settings.aspx" target="_blank" class="link">Manage</a> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tableBox-company">
                                                        <div class="circle circle_secondary pushBtm5">B</div>
                                                        <div class="">Bananas</div>
                                                    </td>
                                                    <td>
                                                        <table class="tableBox-sub">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Credit balance</td>
                                                                    <td>560 credits</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>30-day credit use</td>
                                                                    <td>385 credits</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>30-day reports assigned</td>
                                                                    <td>28</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Date of last EPIC login</td>
                                                                    <td>4/21/17</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                       <a href="https://admin.inscape-epic.com/sub/sub_edit_settings.aspx" target="_blank" class="link">Manage</a> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tableBox-company">
                                                        <div class="circle pushBtm5">C</div>
                                                        <div class="">Cantaloupe</div>
                                                    </td>
                                                    <td>
                                                        <table class="tableBox-sub">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Credit balance</td>
                                                                    <td>20 credits</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>30-day credit use</td>
                                                                    <td>210 credits</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>30-day reports assigned</td>
                                                                    <td>9</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Date of last EPIC login</td>
                                                                    <td>9/12/16</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                       <a href="https://admin.inscape-epic.com/sub/sub_edit_settings.aspx" target="_blank" class="link">Manage</a> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tableBox-company">
                                                        <div class="circle circle_secondary pushBtm5">Df</div>
                                                        <div class="">Dragon Fruit</div>
                                                    </td>
                                                    <td>
                                                        <table class="tableBox-sub">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Credit balance</td>
                                                                    <td>560 credits</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>30-day credit use</td>
                                                                    <td>710 credits</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>30-day reports assigned</td>
                                                                    <td>71</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Date of last EPIC login</td>
                                                                    <td>4/21/17</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                       <a href="https://admin.inscape-epic.com/sub/sub_edit_settings.aspx" target="_blank" class="link">Manage</a> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tableBox-company">
                                                        <div class="circle pushBtm5">O</div>
                                                        <div class="">Oranges</div>
                                                    </td>
                                                    <td>
                                                        <table class="tableBox-sub">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Credit balance</td>
                                                                    <td>20 credits</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>30-day credit use</td>
                                                                    <td>450 credits</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>30-day reports assigned</td>
                                                                    <td>99</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Date of last EPIC login</td>
                                                                    <td>9/12/16</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                       <a href="https://admin.inscape-epic.com/sub/sub_edit_settings.aspx" target="_blank" class="link">Manage</a> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tableBox-company">
                                                        <div class="circle circle_tertiary pushBtm5">Sf</div>
                                                        <div class="">Star Fruit</div>
                                                    </td>
                                                    <td>
                                                        <table class="tableBox-sub">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Credit balance</td>
                                                                    <td>1,125 credits</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>30-day credit use</td>
                                                                    <td>900 credits</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>30-day reports assigned</td>
                                                                    <td>11</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Date of last EPIC login</td>
                                                                    <td>10/07/16</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                       <a href="https://admin.inscape-epic.com/sub/sub_edit_settings.aspx" target="_blank" class="link">Manage</a> 
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- EMPTY STATE CONTENT
                                        <p class="tab-content-empty">This widget allows you to track key activities of up to 25 Subaccounts. Get started by clicking thehttps://admin.inscape-epic.com/sub/sub_edit_settings.aspx  target="_blank" class="link""Manage Subaccount Tracking" button below.</p>
                                        -->
                                    </div>

                                    <div class="tile-ft">
                                        <div class="tile-ft-float">
                                            <a href="javascript:void(0);" class="btn btn_tertiary"><i class="icon-paper-plane"></i> Send Email</a>
                                        </div>
                                        <div class="tile-ft-float">
                                            <a class="btn" href="https://admin.inscape-epic.com/sub/sub_edit_settings.aspx" target="_blank">Add or Remove Subaccounts</a>
                                        </div>
                                    </div>
                                </div><!-- END TOGGLE CONTENT -->
                            </div>